.main-div {
    height: 600px;
    width: 100%;
    background-color: black;
    border: 2px solid red;
    justify-content: center;
}
.first-div {
    height: 200px;
    width: 100%;
    background-color: gold;
    justify-content: center;
}
.img {
    height: 100px;
    width: 100px;
    background-color: black;
    
}
#img {
    margin-left: 600px;
}
.abc {
    color: aliceblue;
}
.abc {
    color: aliceblue;
}
p {
    color: gold;
}
#h1 {
    color: gold;
    margin-top: 50px;
    margin-left: 30px;
}
h5 {
    color: aliceblue;
    margin-left: 30px;
    margin-top: -20px;
}
.h1 {
    color: aliceblue;
    text-align: center;
    margin-left: 500px;
}

/* 2nd img */
.main-2 {

height: 800px;
width: 40%;
background-color: black;
border: 2px solid green;

}
.flex-one {
    height: 350px;
    width: 100%;
    background-color: gold;
}
.garage {
    text-align: center;
    
}

.my-class {
    color:aliceblue;
    margin-left: 200px;
    
}
.main-third {
    height: 500px;
    width: 500px;
    background-color: gold;

}
.img-main {
    height:450px;
    width: 450px;
    border-radius: 50%;
    background-color: black;
}

#img-3 {
    padding-top: 80px;
    border-radius: 50%;
    
}
#img-2 {
    margin-left: 180px;
    padding-top: 50px;
    border-radius: 50%;
    /* background-color: black; */
}
#img-1 {
    margin-left: 550px;
    padding-top: 10px;
    background-color: gold;
    color: gold;
    border-radius: 50%;
}
.h1-h1 {
    color: black;
    text-align: center;

}
.h1-h1-h1 {
    text-align: center;
    color: aliceblue;
    margin-top: -25px;
}
.my-img-1 {
    background-color: gold;
}
#my-id {
    color: black;
    text-align: center;
    margin-left: 180px;
}
#my-id-1 {
    text-align: center;
    margin-left: 100px;
}